@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #e5d44b;
    --black: #000000;
    --bg: #614b23;
    --body: #569e2a;
    --border:.1rem solid rgba(255,255,255,.3);

}
*{
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--body);
}

.btn {
    display: inline-block;
    padding: 2.3rem 4rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #fff;
    color: #000; /* texto */
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #fff;
    color: var(--main-color);
}
section{
    padding: 2rem 7%;
}
.texto{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 5rem;
}
.texto span{
    color: var(--main-color);
    text-transform: uppercase;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--black);
    position:fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 11rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.header .naveg a{
    margin: 0 1rem;
    font-size: 2rem;
    color: #fff;
    border-bottom: 0.1rem solid rgba(255,255,255,.1);
    transition: background 0.3s;
} 
.header .naveg.active {
    left: 0;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.header .naveg a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem; 
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color:var(--main-color);
}
#menu-btn{
    /*left: 300px;*/
    display: inline-block;
    /*top: 100%; left: 0;*/
    
}
.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform:scaleY(0);
    transform-origin:top;
}
.header .search-form.active{
    transform:scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding: 1rem;
    text-transform: none;
    border: #01840a;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}
.header .search-form label{
    color:var(--main-color);
}
.header .naveg.active{
    left: 0;
}

.descrip {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--body);
    overflow: hidden;
}
.descrip .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.descrip .row .image{
    flex: 1 1 50rem;
    object-fit: cover;
}
.descrip .row .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descrip .row .content {
    flex: 1 1 45rem;
    padding: 5rem;
    color: rgb(255, 255, 255);
}
.descrip .row .content h3{
    font-size: 3rem;
    color: var(--bg);
}
.descrip .row .content p{
    font-size: 2rem;
    text-align: justify;
    color:var(--bg);
    padding: 1rem 0;
    line-height: 1.8;
}



@media (max-width:991px){
    #menu-btn{
    display: inline-block;
    /*top: 100%; left: 0;
    left: -300px;*/
    }
    html{
        font-size: 55%;
    }

    .header .naveg{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 15rem);
    }
    .header .naveg.active{
        left: 0;
    }
    .header .naveg a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 1.5rem;
    }
    
    .header{
        padding: 1.5rem 2rem;
    }
    section{
    padding: 2rem;
}
}
@media (max-width:768px){
    #menu-btn{
    display: inline-block;
    /*top: 100%; left: 0;
    left: -300px;*/
    }
    .header .naveg{
        position: absolute;
        top:100%; 
        left: -100%;
        background: #fff;
        background: 30rem;
        height: calc(100vh - 9.5rem);
        display: block;
        transition: all 0.3s ease;
    }
    .header .naveg.active{
        left:0;
    }
    .header .naveg a{
        color:var(--black);
        display: block;
        margin: 1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    /*.home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }*/
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
}
/*.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}*/

.descrip .row{
    display: flex;
    align-items: center;
    background: var(--main-color);
    flex-wrap: wrap;
}
.descrip .row .image{
    flex: 1 1 45rem;
}
.descrip .row .image img{
    width: 100%;
}
.descrip .row .content{
    flex:1 1 45rem;
    padding: 5rem;
}
.descrip .row .content h3{
    font-size: 3rem;
    color: var(--bg);
}
.descrip .row .content p{
    font-size: 2rem;
    text-align: justify;
    color:var(--black);
    padding: 1rem 0;
    line-height: 1.8;
}

.contacto .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.contacto .row .mapa{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contacto .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contacto .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contacto .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--main-color);
    border:var(--border);
}
.contacto .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contacto .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.contacto .row form .inputBox input::placeholder {
    color: var(--black); 
    opacity: 1;
}
.footer{
    background: var(--bg);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
    background: var(--main-color);
}
.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;

}